* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

html, body {
  font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
  color: #404020;
  text-align: left;
  width: 1000px;
  min-height: 700px;
  height: 35em;
  overflow: hidden;
  background-color: white;
}

* a {
  text-decoration: none;
  outline: none;
}

* a img {
  border: 0;
}

#pagewidth {
  text-align: left;
}

#leftcol {
  display: block;
  width: 342px;
  float: left;
  text-align: center;
  position: relative;
}

#download {
  position: relative;
  display: block;
  width: 342px;
  padding-top: 16px;
}

#download a {
  width: 342px;
  text-align: center;
  text-decoration: none;
}

#download a img {
  border: 0;
  width: 256px;
  height: 82px;
  text-decoration: none;
}

#download a span {
  font-family: Arial, sans-serif;
  width: 342px;
  position: relative;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}

#checklist li a span {
  padding-top: 0;
  padding-left: 0;
}

#checklist ul {
  list-style: none;
}

#checklist p  {
  width: 342px;
  font-size: 0.9em;
  text-indent: inherit;
}

#checklist li {
  text-align: left;
}

#checklist li img {
  border: 0;
  width: 20px;
  height: 30px;
  text-align: left;
}

div.description {
  font: 0.9em normal;
  text-align: left;
  margin-left: 20px;
  float: left;
  position: relative;
}

#maincolWrapper {
  float: right;
  width: 550px;
  height: 610px;
  text-align: center;
}

#maincol {
  display: block;
}

#screenshot {
  display: block;
  text-align: left;
}

#screenshot a {
  text-decoration: none;
  outline: none;
}

#screenshot a img {
  border: 0;
}

