* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

html, body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 100%;
  background-color: white;
  text-align: center;
}

#menu {
  background-color: #ADADAD;
  white-space: nowrap;
  display: inline-block;
  width: 52.1em; /* 6.5 * 8 + 0.1 (because FF cannot count) */
  text-align: center;
  position: relative;
}

#menu a {
  float: left;
  position: relative;
  display: inline;
  width: 6.5em;
  height: 1.9em;
  color: #303030;
  font-weight: 700;
  outline: none;
  text-decoration: none;
  background-color: #ADADAD;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
}

#menu a:hover {
  outline: none;
  background: #787878;
  color: #FFFFFF;
}

#menu a:focus {
  outline: none;
  background: #606080;
  color: #D0D0D0;
}

#menu a:active {
  outline: none;
  background: black;
  color: #FFFFD0;
}

#menu a.active {
  outline: none;
  background: #606080;
  color: #FFFFD0;
}

iframe.content {
  background-color: #FFFFFF;
  clear: both;
  display: block;
  border: 0;
  width: 1000px;
  min-height: 610px;
  height: 35em;
}

#footer {
  height: 2em;
  line-height: 2em;
  background-color: #C8D2D6;
  white-space: nowrap;
  display: inline-block;
  width: 52.1em; /* 6.5 * 8 + 0.1 (because FF cannot count) */
}

