<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Zip Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>com.winzip.zip-archive</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-7z-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>7z Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>r00</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zipx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
				<string>application/zipx</string>
				<string>application/x-zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZipX Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.winzip.zipx-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeName</key>
			<string>Dragged Files</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-xz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XZ File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tukaani.xz-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSBinaryStoreType</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-xz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XZ Tar Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tukaani.tar-xz-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/java-archive</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Java Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
				<string>bzip</string>
				<string>bzip2</string>
				<string>boz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-bzip2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bzip2 Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.bzip2-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz2</string>
				<string>tbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-bzip2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BZip2 Compressed Tar Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-bzip2-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>arj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-arj-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ARJ Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.arj-archive</string>
				<string>cx.c3.arj-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lzh</string>
				<string>lha</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/lzh</string>
				<string>application/x-lzh-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LHA archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive.lha</string>
				<string>public.lzh-archive</string>
				<string>cx.c3.lha-archive</string>
				<string>com.winzip.lha-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-compress</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Z Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.z-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>taz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-compress</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Unix Compress Tar Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.compress-tar-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cab</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-cab-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CAB Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.cab-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ear</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Enterprise Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.ear-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>war</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Web Application Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.war-archive</string>
				<string>com.sun.web-application-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-cbr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Comic Book Archive (rar)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.cbr-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-cbz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Comic Book Archive (zip)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.cbz-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>msi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-msdownload</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft MSI Installer</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.msi-installer</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpio</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-cpio</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CPIO Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.cpio-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>deb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-deb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Deb Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.debian.deb-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-apple-diskimage</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.disk-image-udif</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>img</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeName</key>
			<string>Classic Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.disk-image-ndif</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-iso9660-image</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Disk Image ISO</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.iso-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lzma</string>
				<string>lzma86</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeName</key>
			<string>LZMA Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tukaani.lzma-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsis</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeName</key>
			<string>Nullsoft Scriptable Install System</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nullsoft.nsis</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-msdownload</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows application</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-executable</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dll</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-msdownload</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft dynamic link library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-dynamic-link-library</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rpm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rpm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Linux RPM Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.redhat.rpm-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.xara</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XAR Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xar-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
				<string>gzip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-gzip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GZip Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
				<string>tpz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-gzip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GZip compressed Tar Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-tar-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-tar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tar Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chm</string>
				<string>lit</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-htmlhelp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft HTML Help</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hfs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-hfs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Hierarchical File System</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.disk-image-hfs</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZGDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>zipeg</string>
	<key>CFBundleIdentifier</key>
	<string>com.zipeg.zipeg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleTypeExtensions</key>
	<array>
		<string>zip</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSItemContentTypes</key>
	<array>
		<string>public.zip-archive</string>
		<string>com.pkware.zip-archive</string>
		<string>com.winzip.zip-archive</string>
		<string>public.zip</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2006-2013 Zipeg Labs. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ZGApp</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>UTTypeIdentifier</key>
			<string>public.zip-archive</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/zip</string>
					<string>application/x-zip</string>
					<string>application/x-zip-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hierarchical File System</string>
			<key>UTTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.disk-image-hfs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hfs</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-hfs</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LHA archive</string>
			<key>UTTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>UTTypeIdentifier</key>
			<string>public.archive.lha</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lha</string>
					<string>lzh</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/lzh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>7z archive</string>
			<key>UTTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.7-zip-archive</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.7-zip.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>7z</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-7z-compressed</string>
					<string>application/7z</string>
					<string>application/x-7z</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR archive</string>
			<key>UTTypeIconFile</key>
			<string>zipeg-archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.rarlab.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
					<string>cbr</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-rar-compressed</string>
					<string>application/rar</string>
					<string>application/x-rar</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
