<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Zipeg</string>
    <key>CFBundleIdentifier</key>
    <string>com.zipeg.Zipeg</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>ZiPg</string>
    <key>CFBundleVersion</key>
    <string>2.9.5</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2006-2012, Leo Kuznetsov. All Rights Reserved. www.zipeg.com</string>
    <key>CFBundleGetInfoString</key>
    <string>2.9.5 Copyright © 2006-2012, Leo Kuznetsov. All Rights Reserved. www.zipeg.com</string>
    <key>CFBundleShortVersionString</key>
    <string>2.9.5</string>
    <key>LSMultipleInstancesProhibited</key>
    <string>Yes</string>
    <key>LSArchitecturePriority</key>
    <array>
        <string>i386</string>
        <string>ppc</string>
    </array>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>LSItemContentTypes</key>
          <array>
            <string>org.7-zip.7-zip-archive</string>
            <string>public.arj-archive</string>
            <string>public.bzip2-archive</string>
            <string>org.bzip.bzip2-archive</string>
            <string>com.microsoft.cab-archive</string>
            <string>com.microsoft.chm-archive</string>
            <string>public.cbr-archive</string>
            <string>public.cbz-archive</string>
            <string>com.sun.ear-archive</string>
            <string>com.sun.war-archive</string>
            <string>public.cpio-archive</string>
            <string>org.gnu.gnu-zip-archive</string>
            <string>public.iso-image</string>
            <string>com.sun.java-archive</string>
            <string>public.lzh-archive</string>
            <string>public.lha-archive</string>
            <string>com.nullsoft.nsis</string>
            <string>com.rarlab.rar-archive</string>
            <string>com.redhat.rpm-archive</string>
            <string>public.tar-archive</string>
            <string>org.gnu.gnu-zip-tar-archive</string>
            <string>public.z-archive</string>
            <string>com.pkware.zip-archive</string>
          </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
      </dict>

      <dict>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
          <string>fold</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>*</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>zip</string>
          <string>jar</string>
          <string>ZIP</string>
          <string>JAR</string>
        </array>
        <key>com.apple.ostype</key>
        <array>
          <string>ZIP</string>
          <string>ZIP_</string>
          <string>ZIP </string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/zip</string>
          <string>application/x-zip</string>
          <string>application/x-zip-compressed</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>ZIP Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>ZIP </string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.pkware.zip-archive</string>
          <string>public.zip-archive</string>
          <string>com.macitbetter.zip-archive</string>
          <string>com.macitbetter.segmented-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>taz</string>
          <string>tar</string>
          <string>tgz</string>
          <string>tbz</string>
        </array>
        <key>com.apple.ostype</key>
        <array>
          <string>TARF</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/tar</string>
          <string>application/x-tar</string>
          <string>application/x-gtar</string>
          <string>application/gnutar</string>
          <string>application/x-ustar</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>TAR Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>TARF</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.tar-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>gz</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/gzip</string>
          <string>application/x-gzip</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>GZip Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>Gzip</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.gnu.gnu-zip-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>bz2</string>
          <string>bz</string>
          <string>tbz</string>
          <string>tbz2</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/bzip2</string>
	  <string>application/bzip</string>
	  <string>application/x-bz2</string>
	  <string>application/x-bzip2</string>
	  <string>application/x-bzip</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>BZip Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>Bzp2</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.bzip2-archive</string>
          <string>public.archive.bzip2</string>
          <string>org.bzip.bzip2-archive</string>
          <string>org.bzip.bzip2-tar-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>rar</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-rar</string>
          <string>application/x-rar-compressed</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>RAR Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>RARf</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.rarlab.rar-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>7z</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-7z-compressed</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>7-Zip Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>7Zip</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.7-zip.7-zip-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>cpio</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-cpio</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>CPIO Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>CPIO</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.cpio-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>cpgz</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-cpio</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Compressed CPIO Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>CPIO</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.apple.bom-compressed-cpio</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>arj</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-arj</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>ARJ Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>ARJ</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.archive.arj</string>
          <string>org.7-zip.arj-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>lzh</string>
          <string>lha</string>
          <string>lhx</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-lha</string>
          <string>application/x-lzh</string>
          <string>application/x-lhx</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>LHA Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>LHA</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.archive.lha</string>
          <string>org.7-zip.lha-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>cab</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/cab</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Windows Cabinet Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>CAB</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.archive.cab</string>
          <string>com.microsoft.cab-archvie</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>chm</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Compiled HTML</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>CHM</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.chm-archive</string>
        </array>
      </dict>


      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>cbr</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Compiled HTML</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>CBR</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.cbr-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>cbz</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Compiled HTML</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>CBZ </string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.cbz-archive</string>
          <string>com.macitbetter.cbz-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ear</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Compiled HTML</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>EAR</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.sun.ear-archive</string>
          <string>com.sun.java-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>war</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Compiled HTML</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>WAR</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.sun.war-archive</string>
          <string>com.sun.java-archive</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>iso</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>ISO Disc Image</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>ISO</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.iso-image</string>
          <string>public.iso-diskimage</string>
          <string>public.disk-image</string>
        </array>
      </dict>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>z</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Unix Compressed Archive</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>Z</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleTypeIconFile</key>
        <string>Archive.icns</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.z-archive</string>
        </array>
      </dict>
    </array>

    <key>CFBundleIconFile</key>
    <string>Zipeg.icns</string>
    <key>Java</key>
    <dict>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/zipeg.jar</string>
        <string>/System/Library/Java</string>
      </array>
      <key>JVMVersion</key>
      <string>1.5*</string>
      <key>MainClass</key>
      <string>com.zipeg.Zipeg</string>
      <key>Properties</key>
      <dict>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>com.apple.mrj.application.growbox.intrudes</key>
        <string>false</string>
        <key>com.apple.mrj.application.live-resize</key>
        <string>true</string>
        <key>swing.aatext</key>
        <string>true</string>
        <key>sun.awt.noerasebackground</key>
        <string>true</string>
        <key>sun.awt.erasebackgroundonresize</key>
        <string>false</string>
      </dict>
      <key>VMOptions</key>
      <string>-ea -Xms256m -Xmx1024m -d32</string>
      <key>Arguments</key>
      <string></string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java</string>
      <key>SplashFile</key>
      <string>$APP_PACKAGE/Contents/Resources/Java/mac.splash.gif</string>
    </dict>

    <key>UTExportedTypeDeclarations</key>
      <array>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.pkware.zip-archive</string>
          <key>UTTypeDescription</key>
          <string>ZIP Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>ZIP </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>zip</string>
            </array>
            <key>public.mime-type</key>
            <string>application/zip</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>org.7-zip.7-zip-archive</string>
          <key>UTTypeDescription</key>
          <string>7-zip Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>7Zip</string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>7z</string>
            </array>
            <key>public.mime-type</key>
            <string>application/x-7z-compressed</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>public.arj-archive</string>
          <key>UTTypeDescription</key>
          <string>ARJ Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>ARJ </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>arj</string>
            </array>
            <key>public.mime-type</key>
            <string>application/x-arj-compressed</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>public.bzip2-archive</string>
          <key>UTTypeDescription</key>
          <string>BZip2 Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>Bzp2</string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>bz</string>
              <string>bz2</string>
              <string>bzip2</string>
            </array>
            <key>public.mime-type</key>
            <string>application/x-bzip2</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.microsoft.cab-archive</string>
          <key>UTTypeDescription</key>
          <string>Windows Cabinet Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>CAB </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>cab</string>
            </array>
            <key>public.mime-type</key>
            <string>application/vnd.ms-cab-compressed</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.microsoft.cab-archive</string>
          <key>UTTypeDescription</key>
          <string>Compressed HTML Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>CHM </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>chm</string>
            </array>
            <key>public.mime-type</key>
            <string>application/x-chm</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>public.cbr-archive</string>
          <key>UTTypeDescription</key>
          <string>Comic Book Archive (rar)</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
            <string>com.rarlab.rar-archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>CBR </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>cbr</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>public.cbz-archive</string>
          <key>UTTypeDescription</key>
          <string>Comic Book Archive (zip)</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
            <string>com.pkware.zip-archive</string>
            <string>com.macitbetter.cbz-archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>CBZ </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>cbz</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.sun.ear-archive</string>
          <key>UTTypeDescription</key>
          <string>Enterprise ARchive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>EAR </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>ear</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.sun.war-archive</string>
          <key>UTTypeDescription</key>
          <string>Web ARchive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>WAR </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>war</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>public.lzh-archive</string>
          <key>UTTypeDescription</key>
          <string>LHA Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>LHA </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>lha</string>
              <string>lzh</string>
            </array>
            <key>public.mime-type</key>
            <array>
                <string>application/x-lzh-compressed</string>
                <string>application/lha</string>
                <string>application/x-lha</string>
                <string>application/lzh</string>
                <string>application/x-lzh</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.nullsoft.nsis</string>
          <key>UTTypeDescription</key>
          <string>Nullsoft Scriptable Install System</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>NSIS</string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>nsis</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.rarlab.rar-archive</string>
          <key>UTTypeDescription</key>
          <string>RAR Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>RARf</string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>rar</string>
            </array>
            <key>public.mime-type</key>
            <string>application/x-rar-compressed</string>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>com.redhat.rpm-archive</string>
          <key>UTTypeDescription</key>
          <string>RPM Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>RPM </string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>z</string>
            </array>
            <key>public.mime-type</key>
            <array>
              <string>application/x-redhat-package-manager</string>
            </array>
          </dict>
        </dict>

        <dict>
          <key>UTTypeIdentifier</key>
          <string>public.z-archive</string>
          <key>UTTypeDescription</key>
          <string>Unix Archive</string>
          <key>UTTypeConformsTo</key>
          <array>
            <string>public.data</string>
            <string>public.archive</string>
          </array>
          <key>UTTypeTagSpecification</key>
          <dict>
            <key>com.apple.ostype</key>
            <array>
                <string>ZIVU</string>
            </array>
            <key>public.filename-extension</key>
            <array>
              <string>z</string>
            </array>
            <key>public.mime-type</key>
            <array>
              <string>application/x-compress</string>
            </array>
          </dict>
        </dict>

      </array>

  </dict>
</plist>
